/* 404 Not Found */
.page-not-found{
    width: 100%;
    height: calc(100vh - 27vh);
    display: grid;
    place-items: center;
}

.page-not-found > h1{

    font-size: 5rem;
    font-weight: 900;
    color: rgba(151, 153, 155, 0.614);


}