.dashboard{
    background-color: var(--text-color--aliceblue);
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: minmax(100vh, max-content);
}

.dashboard-left{
    background-color: #1c2536;
}


/* left-container head */

.Dashboard-left-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
    height: fit-content;
    padding-inline: 1em;
    padding-block: 0.25em 1em;
}

.dashboard-logo{
    /* padding: 0 0.5em; */
    font-size: 2.35rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    color: var(--text-color--aliceblue);
}
.dashboard-logo > h6{
    font-size: 2rem;
    text-align: center;
}

.dashboard-logo:hover{
color: var(--text-color--aliceblue);
}

.logo-icon{
    width: 5rem;
    margin-bottom: -0.25em;
}


/* Items */
.dashboard-items-container{
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    height: max-content;
}

.dashboard-items-container > li{
    width: 100%;
    border-radius: 8px;
}
.dashboard-items-container > li > a{
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    color: #9da4ae;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
}

.active-bg{
    background-color: rgba(255, 255, 255, 0.04);
}
.dashboard-items-container > li:hover{
    color: var(--text-color--aliceblue);
    background-color: rgba(255, 255, 255, 0.04);
}

.dashboard-items-container > li > svg{
    font-size: 1.2rem;
}
.dashboard-items-container > li:hover svg{
    color: #6366f1;
    font: 2rem;
}


/* Dashboard right */
/* .dashboard-right{
    padding-block-end: 2em;
} */

.dashboard-right-header{
    background-color: rgba(221, 228, 251, 0.2);
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2em;
    border-bottom: 1px solid var(--light-border);
}

.notificatin-DP{
    display: flex;
    gap: 1em;
    align-items: center;
}

.bell{
    margin-top: 8px;
}
.DP{
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: scale 200ms ease;
}

.DP:hover{
    scale: 1.05;
}

.dashboard-right-header svg{
    font-size: 1.5rem;
    color: #6366f1;
    cursor: pointer;
}

.common{
    width: 100%;
    padding: 0 2em;
}
.common > h1{
    padding-block: 0.25em;
    border-bottom: 0.5px solid var(--light-border);
}
.common-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-block: 1em;
    border-bottom: 0.5px solid var(--light-border);
}
.student-list-form{
    justify-content: space-between;
    align-items: flex-end;
}
.common-form label{
    font-weight: 600;
    font-size: 0.9rem;
}
.common-form select{
    padding: 0.75em 1em;
    border: 0.5px solid var(--light-border);
    border-radius: 4px;
    outline: none;
}


/* Teaching plan */
.teaching-plan-modules{
    margin-top: 0.5em;
    padding-block: 1em;
    border-top: 0.5px solid var(--light-border);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.modules{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.modules-common{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.modules-common input,
.modules-common select{
    width: fit-content;
    padding: 0.75em 1em;
    border: 0.5px solid var(--light-border);
    border-radius: 4px;
    outline: none;
    background-color: white;
}


/* ***********end************* */


/* Profile */
.profile-layout{
    display: grid;
    grid-template-columns: 40% calc(60% - 2em);
    grid-auto-rows: 100%;
    padding-block: 1em;
    gap: 2em;
}

.profile-layout > .overview{
display: flex;
flex-direction: column;
gap: 0.25em;
}
.dp{
    border-radius: 4px;
    overflow: hidden;
    width: 10rem;
    height: 12rem;
}

.profile-layout > .profile-edit > nav{
width: 100%;
display: flex;
gap: 1em;
align-items: center;
/* justify-content: center; */
height: fit-content;
}
.profile-layout > .profile-edit > nav > span{ 
    cursor: pointer;
    padding-block-end: 0.15em;
    font-weight: 600;
    border-bottom: 4px solid var(--primary-color);

}

.edit, .photo-profile-upload, .change-password{
    width: 28rem;
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    gap: .75em;
}
.view-proflie-logout-btn{
    padding-block: 0.5em;
    display: flex;
    gap: 1em;
}
/* *********end********** */

.session,
.semester,
.course-type,
.department{
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.common button{
    background-color: var(--primary-color);
    font-size: 0.9rem;
}
.add-new-btn{
    padding-block: 0.5em;
}


.stats{
    width: 100%;
    height: fit-content;
    padding: 1em 2em;
    display: grid;
    gap: 1.5em;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20rem;
}
.stat-elements{
    width: 100%;
}

/* ****************************Common needed********************************* */

/* New Material upload */
.add-new-material{
    width: 100%;
    border-top: 0.5px solid var(--light-border);
    display: grid;
    place-items: center;

}

.add-new-material-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 28rem;
    padding-block: 0.5em;
}
.common-fields,
.new-material-add-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 0.5em; */
}
.profile-layout input,
.add-new-material input,
.add-new-material select,
.add-new-material textarea{
    width: 20rem;
    padding: 0.75em 1em;
    border: 0.5px solid var(--light-border);
    border-radius: 4px;
    outline: none;
    background-color: white;
}

.add-new-material-btn{
    width: fit-content;
}

.hide{
display: none;
}


/* Dashboard Component's css */
.common table, th, td {
    border: 1px solid var(--light-border);
    text-align: center;
}
.common th, td{
    padding-block: 0.5em;
}
.common td{
    font-size: 0.9rem;
}
.common table{
    border-collapse: collapse;
    /* margin-top: 2em; */
    width: 100%;
}

.common table .actions{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    justify-content: center;
    align-items: center;
}

.common table button{
    font-size: 0.8rem;
}


.student-info{
    border: none;
    display: flex;
    align-items: center;
    padding-inline: 1em ;
    gap: 1em;    
}

.student-info > .display-picture{
    width: 3rem;
    height: 3.5rem;
    border-radius: 4px;
    overflow: hidden;
}

.student-info > .name-email{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25em;
}

.student-info > .name-email > p{
    font-weight: 600;
    color: #00000eb8;
}

.student-list-form > .search, .entries,
.e-book > .search{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 0.75em;
}
.student-list-form  input[type='search'], input[type='number'],
.e-book  input[type='search']{
    padding: 0.75em 1em;
    border: 0.5px solid var(--light-border);
    border-radius: 4px;
    outline: none;
}

