/* Header */

.header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4em;
}

.header-left{
    display: flex;
    align-items: center;
    gap: var(--gap-md);
}

.header-left-title{
    font-size: 2.5rem;
    font-weight: 900;
}
.rank{
    font-size: 1.5rem;
    margin-top: -0.5em;
    color: var(--rank-color);
}
.grade{
    color: var(--grade-color);
    font-size: 2rem;
}

.address{
    font-weight: 600;
}
.header-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-sm);
}

.header-right-title{
    height: 4rem;
    width: 25rem;
    margin-bottom: -.75em;
}

.links{
    display: flex;
    align-items: center;
    gap: var(--gap-xm);
}
.contact{
    /* width: 20rem; */
    display: flex;
    gap: var(--gap-lg);
}

.header-email, .header-phone{
    display: flex;
    align-items: flex-end;
    gap: var(--gap-sm);
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-md);
    font-size: 1.3rem;
}


/* Navbar */

.navbar{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 6em;
    background-color: var(--primary-color);
}


.menu-left, .menu-right{
    display: flex;
    align-items: center;
    gap: var(--gap-lg);
}
.menu-left > li > a, .menu-right > li > a{

    color: var(--text-color--dark);
    font-weight: 600;
}

/* Marquee */

.marquee{
    width: 100%;
    height: 6vh;
    padding-inline: 6rem;
    color: crimson;
    display: flex;
    align-items: center;
}

.marquee > marquee > a{
    color: crimson;
}

/* Footer */
.footer{
    margin-top: auto;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color--aliceblue);
    background-color: var(--bg-footer);
}


/* Login */
label{
    font-size: 0.9rem;
}

.sign-in {
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.sign-in>.right {
    background-image: url('https://images.shiksha.com/mediadata/images/1539752549phpJePe6G.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 2.5em 8em 5em;
}

.sign-in>.left {
    position: relative;
    grid-template-columns: 24rem;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}

.sign-in>.left>.logo {
    color: black;
    top: 1.5em;
    left: 2em;
    gap: .75em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.logo > svg {
    width: 5rem;
    height: 5rem;
}

.logo > h1{
    font-size: 2.2rem;
    font-weight: 900;
}

.left>.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.center>.welcome-text {
    font-size: 2.5rem;

}

.center>.welcome-text>h1 {
    font-family: aura;
}

.center>form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 600;
}

.email,
.password,
.DOB,
.captcha {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: relative;
}

.sign-in-email,
.sign-in-password,
.sign-in-DOB,
.sign-in-captcha{
    padding: 1em;
    border: 0.1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    border-radius: 5px;
    color: black !important;
    background-color: rgba(255, 255, 255, 0.6);
}
.password>.password-eye {
    position: absolute;
    right: 1em;
    top: 1.5em;
    font-size: 1.55rem;
    display: none;
    cursor: pointer;
}

::placeholder {
    padding-left: 0.15em;
    opacity: 0.8;
    color: rgba(0, 0, 0, 1) !important;
}

.remember-forget-DOB {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5em;
}

.remember-me {
    display: flex;
    gap: 0.25em;
}

.login-btn {
    
    background-color: var(--primary-color);
}


/* Loader */
.loader{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: white;
}

.load{
    width: 3em;
    height: 3em;
}